doctype html
html
  head
    title Book Professional JS for WB
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i' rel="stylesheet")
    link(href='app.css' rel='stylesheet')


  body
    .container
      header.header
        h1 Book: Professional Javascript for Web Developers (by Nicholas C. Zakas)
        h2 Exercises and practising while going through the book.
        p.tagline getting-through-tutorials series by hetty82

      .output
        h3.output-title JS Outputs

        section.output-section.js-output-section-01
          h4 Fiddling with data-types

        section.output-section.js-output-section-02
          h4 String conversion
          pre
            | var dog = {
            |   species: 'Dog',
            |   breed: 'Boxer',
            |   name: 'Jack'
            | };

          pre
            | var num =
            = ' '
            span#num
            | ;

        section.output-section.js-output-section-03
          h4 Objects and their base properties
          pre var o = new Object();

        section.output-section.js-output-section-04
          h4 Operators
          pre
            | var s1 = "2";
            | var s2 = "hallo";
            | var b = false;
            | var f = 1.1;
            | var o = {
            |   valueOf: function() {
            |     return -1;
            |   }
            | }

    script(src="bundle.js")
