html
  font-size: 14px

  +min-width($screen-sm)
    font-size: 16px

body
  padding-top: 3em
  font-family: $font-family
  color: $text-color
  background: $bg-color

  +min-width($screen-xs)
    padding-top: 5em

.container
  max-width: $screen-sm
  margin: 0 auto
  padding: 0 1em

.header
  margin-bottom: 2em
  padding-bottom: 2em
  border-bottom: 2px solid $primary-color
