h1, h2
  margin-bottom: 1em
  line-height: 1.2

h1
  font-size: 2em

  +min-width($screen-xs)
    font-size: 3em

h2
  font-size: 1.5em

  +min-width($screen-xs)
    font-size: 2em

h3
  font-size: 1.2em

  +min-width($screen-xs)
    font-size: 1.5em

.tagline
  display: inline-block
  padding: 0 0.4em
  color: $inverted-color
  background: $text-color

p
  line-height: 1.5
