h1, h2
  margin-bottom: 1em
  line-height: 1.2

h3, h4
  margin-bottom: 0.5em

h4
  display: inline-block
  background: $primary-color-dark
  color: $inverted-color
  padding: 0 0.3em

h1
  font-size: 2em

  +min-width($screen-xs)
    font-size: 3em

h2
  font-size: 1.5em

  +min-width($screen-xs)
    font-size: 2em

h3
  font-size: 1.2em

  +min-width($screen-xs)
    font-size: 1.5em

.tagline
  display: inline-block
  padding: 0 0.3em
  color: $inverted-color
  background: $text-color

p
  line-height: 1.5

pre
  margin-bottom: 1em
  padding: 0.5em
  font-family: $font-family-mono
  font-size: 0.8em
  color: $primary-color-dark
  border: 1px solid $complementary-color
  background: #fff
  overflow: auto
